lab1/photometric/MonkeyColor/*.*
lab1/photometric/MonkeyGray/*.*
lab1/photometric/SphereColor/*.*
lab1/photometric/SphereGray5/*.*
lab1/photometric/SphereGray25/*.*
lab1/photometric/yaleB02/*.*
lab1/photometric/results/*/*.*

lab4/vlfeat
.DS_Store
